* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.5;
    color: white;
    background-color: white;
}


h1, h2, h3, h4 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 30px;
}

.navbar {
    background-color: #1f2937;
    color: white;
    height: 100px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar a {
    color: wheat;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar a:hover {
    color: red;
}

.navbar ul {
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    min-height: 300px;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.2;
}

img {
    border: 2px solid blue;
    border-radius: 1rem;
}

button {
   border: 2px solid #3882f6;
   border-radius: 0.5rem;
   padding: 10px 10px 10px 10px;
   background-color: #3882f6;
   color: white;
   font-weight: bold;
}

.boxes {
    background-color: whitesmoke;
    color: black;
}

.section-one-title {
    text-align: center;
}

.boxes .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60%;
}

.box {
    flex: 1;
    text-align: center;
}

.quote {
    background-color: #e5e7eb;
    color: black;
}

.quote .container {
    display: flex;
    max-width: 60%;
    justify-content: center;
}

h3 {
    display: flex;
    max-width: 75%;
    justify-content: flex-end;
}

.bluebox button {
    border: 2px solid white;
}

.bluebox .container {
    display: flex;
    border: 3px solid #3882f6;
    border-radius: 1rem;
    background-color: #3882f6;
    justify-content: space-evenly;
    max-width: 60%;
    line-height: 1;
}

.footer {
    height: 100px;
    margin-top: 20px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

